<div class="flex bg-[#121212] text-[#f2f2f2]">

    <div class="w-80 bg-[#282828] h-screen text-[#ababab] flex flex-col items-start gap-8 p-4">
        <h1 class="p-2 text-xl font-medium text-[#c4c4c4]">History</h1>
        <ul class="flex flex-col gap-2">
            <li *ngFor="let history of histories" class="hover:bg-[#3f3f3f] hover:rounded-md p-2 text-sm">{{history}}
            </li>
        </ul>
    </div>

    <div class="flex flex-col w-full">
        <div class="h-[88vh]">
            <div class="flex justify-between p-4 h-[10%]">
                <h1 class="text-lg font-medium aleeta">Aleeta</h1>
                <div class="bg-[#707070] text-white rounded-full p-3 flex items-center justify-center">
                    <mat-icon class="text-[#121212]">person</mat-icon>
                </div>
            </div>
           <div class="flex items-center justify-center h-[80%] overflow-auto">
            <div class="w-1/2">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non recusandae
                rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia ratione?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non recusandae
                rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia
                ratione?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ex dolore iure fugit nihil non
                recusandae rerum
                nemo excepturi sequi tempora nesciunt hic est molestias, eveniet suscipit laboriosam mollitia ratione?
            </div>
           </div>
        </div>
        <div class="h-[10vh] flex items-center justify-center">
            <div class=" rounded-full  bg-[#3f3f3f] w-1/2 flex justify-between items-center p-2">
                <input type="text" placeholder="Type your message here..."
                    class=" outline-none h-1/2 w-full px-4 bg-[#3f3f3f]" [(ngModel)]="question" />
                <div class="bg-[#f9f9f9] text-white rounded-full  flex items-center justify-center p-3">
                    <button (click)="ask()">
                        <mat-icon class="text-[#121212]">send</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>